# R Files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Output
*.png
*.pdf
*.html
README.Rmd
analyse_logs.Rmd

Call on EVD chains of transmission.docx
*.docx
*.ppt
*.pptx

# Data
*.csv
logs.csv
combined_template.csv
logs_080119.csv
logs_121218.csv
logs_230119.csv

# Temp
logs*
www/
tmp_files
